extends layout

block content
    section(class="hero is-primary has-bg-img is-medium" id="about-us-hero")
        div(class="hero-body")
            div(class="container has-text-centered")
                h1(class="title" id="hero-text") About Us
    section(class="tile is-ancestor")
        div(class="tile is-parent is-4")
            div(class="tile box is-child")
                h1(class="title") Samuel Parker
                img(src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/12210622/Golden-Retriever-Puppy.jpg")
                p I am clearly a young golden retriever just trying to make the world a better place.
                br
                h6(class="title is-6") Favorite Veggie:
                h6(class="subtite is-6") Zucchini
        div(class="tile is-parent")
            div(class="tile box is-child")
                h1(class="title") Tatiana Luchian
        div(class="tile is-parent")
            div(class="tile box is-child")
                h1(class="title") Alex Salem