extends layout

block content 
  if !err
    section#primary-hero.hero.is-primary.has-bg-img.is-large
      .hero-body
        .container.has-text-centered
          h1#hero-text.title.is-1 Plant-it Earth
          h2#hero-text.subtitle.is-2 Home Gardening Resources
    section.section
      .container
        h1.title.is-2 General gardening tips
        br
        h2.subtitle.is-4  Location &amp; plot size
        p
          | You want to choose a location with the most sun. Most vegetables are &quot;full-sun&quot;, meaning they want at least six hours of sunlight a day.
        br
        h2.subtitle.is-4  Soil &amp; seeds
        p
          | Choose all-purpose soil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempora quod iusto quos eius soluta? Voluptatibus debitis eum quod sint amet eos, consectetur sed! Aspernatur neque corrupti impedit esse consequatur?
        br
        h2.subtitle.is-4  Picking vegetables &amp; when to plant
        p See our search tool.
    section.section
      .container
        h1.title.is-2 About
        p This project was created by Alexandra Salem, Tatiana Luchian, and Samuel Parker.
        br
        a.button.is-medium(href='https://github.com/alexandrasalem/plant-it-earth' target='_blank')
          span.icon
            i.fab.fa-github
          span Github
    script(defer='' src='https://use.fontawesome.com/releases/v5.14.0/js/all.js')
