extends layout

block content 
  if !err
    section#mostpopular-hero.hero.is-primary.has-bg-img.is-medium
      .hero-body
    section.section
      .container
        h1.title.is-1 Most popular plants
        p !{results1}
        br
        h1.title.is-1 Most popular users
        p !{results2}