extends layout

block content 
  if !err
    section#search-hero.hero.is-primary.has-bg-img.is-medium
      .hero-body
    section.section
      .container
      h1.title.is-2 Search for vegetables
      if results
        .container
          h1 Search results (select to see more information):
          each val in results
            article.media
              figure.media-left
                p.image.is-64x64
                  img(src = val[1] alt= val[0])
              .media-content
                .content
                  a(href="/plant/" + val[2]) #{val[0]}
          br
          h1.is-1 Didn't find what you were looking for? 
          input.button(type='submit' onclick="window.location = window.location + '/full'; return false;" value="Keep looking")
          br
          br
          h1 Want to try a new search?
          input.button(type='submit' onclick="window.location = '/search'; return false;" value = "Back to search")
      else if fullResults
        #search-results.container
          br
          h1 Search results (select to see more information):
          each val in fullResults
            article.media
              figure.media-left
                p.image.is-64x64
                  img(src = val[1] alt= val[0])
              .media-content
                .content
                  a(href="/plant/" + val[2]) #{val[0]}
          br
          h1 Want to try a new search?
          input.button(type='submit' onclick="window.location = '/search'; return false;" value = "Back to search")
      else
        p Type in a vegetable you want to learn about and hit search. Then click on a listed option to learn more.
        br
        form()
          label(for='veg') Search for a vegetable:
          input#veg.input(type='text' placeholder='tomato, parsley, etc' name='veg')
          br
          input(type='submit' onclick="window.location = window.location + veg.value; return false;")



