extends layout

block content 
  if !err
    section#search-hero.hero.is-primary.has-bg-img.is-medium
      .hero-body
    section.section
      .container
      h1.title.is-2 Search for vegetables
      p Type in a vegetable you want to learn about and hit search. Then click on a listed option to learn more.
      br
      .container
        form(action='./' method='post')
          label(for='veg') Search for a vegetable:
          input#veg.input(type='text' placeholder='tomato, parsley, etc' name='veg')
          br
          input.button(type='submit' value='Search')
        if results
            #search-results.container
              br
              h1 Search results (select to see more information):
              p !{results}
