extends layout

block content
  script(src='usda.js')
  section#search-hero.hero.is-primary.has-bg-img.is-medium
    .hero-body
  section.section
    .container
    h1.title.is-2 What is USDA Hardiness Zone & Map?
    p When planing your garden it’s necessary to determine the difference between which plants will thrive in your region (defined by a zipcode) and which plants may need additional care and temperature control.
    div.row2
      img.columm2(class="zoneImage" src="/USDA Zones.jpg" style="width:30%")
      
      p.column2 That’s where hardiness zones with maps come in handy.
      br
      p.column2 A planting zone map lays out which hardiness zone you live in. These zones are broken down by a 5 degree difference in the average minimum temperature. 
      br
      p.column2 Once you’ve determined which hardiness, or planting zone, you live in then you can use this information for selecting your garden plants.
    br
    h1.title.is-2 Find out your USDA Zone
    p Type in your zip and hit submit. 
    div.row2
      div.searchBox
        form(action='/usda' onsubmit='isValidUSZip(event)' method='post')
          input#zip.input(type='text' placeholder='90210' name='zip')
          input#searchBtn.button(type='submit' value='Search')
          div.errorText(id="errorText")
        if error
          div.errorText ERROR: !{error}
      if results
        div.column2
          #search-results.container
            h1 You live in USDA zone: 
              b !{results}

    if results
      br
      h1.title.is-2 Information about my USDA zone:
      p more info 

      h1.title.is-2 What can I plant in my USDA hardiness zone?
      div.zoneData 
        ul
          each val in zoneData
            li= val.common_name